.home-container {
    background-color: #111116;
    color: white;
}

.background-main-img {
    background-image: url('../assets/images/mainbg.png');
    transition: all 0s ease 2s, opacity 0s ease 2s;
    background-size: 100% 110%;
    animation: gradient 15s ease infinite;
    height: 100vh;

}

.background-main-img-img {
    height: 100vh;
    background-color: rgba(17, 17, 22, 0.33);
    background-position: 0px 0px;
}

.down-arrow {

    color: rgb(201, 201, 201);
    font-size: 45px;
    position: absolute;
    bottom: 8px;
    text-align: center;
    left: 50%;
    transform: rotate(270deg);

}

.down-arrow-2 {
    color: rgb(201, 201, 201);
    font-size: 45px;
    position: absolute;
    bottom: 25px;
    text-align: center;
    left: 50%;
    transform: rotate(270deg);

}

.welcome-text-with-images {
    padding-top: 80px;
    padding-bottom: 100px;
}

.welcome-header {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-size: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.welcome-text {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: justify;
}

.img-six {
    width: 100%;
    margin-top: 10px;
    border-radius: 12px;
}

.img-six:hover {
    opacity: 0.7;

}

.img-six-text {
    align-items: center;
}

.mint-page-container {
    padding-top: 50px;
    padding-bottom: 100px;
}


.rarity-header {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.rarity-text {
    margin-top: 30px;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: justify;

}
.rarity-img img{
    width: 100%;
}

.roadmap-container {
    overflow-x: scroll;
    position: relative;

}

.roadmap-container::-webkit-scrollbar {
    height: 8px;
    --tw-text-opacity: 1;

    background-color: #111116;

}

.roadmap-container::-webkit-scrollbar-thumb {
    background: #B5B5B5;
    border-radius: 10px;

}

.movie-style-bg {
    padding-right: 80px;
    width: 185vh;
    height: 300px;
}

.roadmap-img {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.roadmap-img img:first-child {
    margin-left: 5px;

}
.roadmap-img img:last-child {
    margin-left: 5px;
    margin-right: 130px;


}
.roadmap-img img {
    margin-left: 120px;
    margin-right: 120px;
    width: 200px;
    margin-top: 130px;

}

.roadmap-text {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 170vh;

}

.roadmap-text li p {
    width: 180px;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.75rem;

}

.t-and-r{
    padding-top: 80px;
    padding-bottom: 150px;
}
.faq-container .accordion-button:not(.collapsed) {
    color: white;
    font-weight: bolder;
    
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 1.1rem;
   
    outline: none !important;
}
.faq-container .accordion-body{
    background-color: transparent !important;
    --tw-border-opacity: 1;
    border-bottom:1px solid rgba(156,163,175,var(--tw-border-opacity)) !important;
    padding-bottom: 40px;
    --tw-border-opacity: 1;
    border-color: rgba(156,163,175,var(--tw-border-opacity));
    font-size: 1rem;

}
.faq-container .accordion-button::after{
    display: none;
}
.faq-container .accordion-button:focus {
    --tw-border-opacity: 1;
    border-color: rgba(156,163,175,var(--tw-border-opacity)) !important;
}
.faq-container .accordion-item:last-of-type .accordion-button.collapsed {
    background-color: transparent !important;
    --tw-border-opacity: 1;
    border-bottom:1px solid rgba(156,163,175,var(--tw-border-opacity));
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    outline: none !important;

    box-shadow: none;
}
.faq-container .accordion-item:last-of-type {
    border: none;
    background-color: transparent;
    
}
.arrow-faq{
    font-size: 22px;
    transform: rotate(180deg);
}
.mint-img{
text-align: right;
}
.mint-img img{
    width: 200px;
    
}

.dont-miss-text{
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 100;
}

.dont-miss-text-small{
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-size: 1.7rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 100;
}
.dont-miss-text-small span{
    font-weight: 600;
    text-transform: uppercase;
}
.sell-btn{
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-align: center;
    font-weight: 100;
    padding: 4px 16px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 16px;
    cursor: pointer;
    text-transform: uppercase;
    background: dimgrey !important;
}
.sell-container{
    margin-top: 20px;
    text-align: center;
}
.sell-container button{
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-align: center;
    font-weight: 100;
    
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    font-size: 3rem;
    line-height: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent !important;


}
.value-sell{
    text-align: center;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 5px;

}
.roadmap{
    padding-bottom: 80px;
}
.blue{
color: #0088FF;
}
.green{
    color: #39FF00;

}
.purple{
color: #E800FE;
}
.yellow{
color: #FFD600;
}
.red{
    color: #FF2900;

}


@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}


@media only screen and (max-width:1200px) {
    .background-main-img {
        background-size: 110% 110%;
    }


@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

}

@media only screen and (max-width:850px) {
    .background-main-img {
        background-size: 130% 110%;
        
    }
    
    .mint-page-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    
    
}
@media only screen and (max-width:776px) {
    .dont-miss-container{
        flex-direction: column-reverse;
    }
    .mint-page-container {
        padding-top: 0px;
        padding-bottom: 70px;
    }
}
@media only screen and (max-width:550px) {
    .background-main-img {
        background-size: 180% 110%;

    }
    .down-arrow,.down-arrow-2{
        display: none;
    }
    
}
@media only screen and (max-width:400px) {
    .movie-style-bg {
        padding-right: 0px;
    }
}