.mywoas-container{
    color: white;
    background-color: black;
}
.my-woas-header{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}
.woas-img{
    max-width: 250px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s all linear;
    
}
.woas-img:hover{
    opacity: 0.7;
}
.user-transection{
    font-size: 0.8rem;
    appearance: none;
    color: white;
    padding: 4px 16px;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: initial;
    background: rgb(22, 88, 104) !important;
}
.user-transection:hover{
    background: rgb(22, 88, 104,0.6) !important;

}
.my-woa-buttons{
    text-align: right;
}
.my-woa-row {
    align-items: baseline;
}
.my-woa-row-purchased {
    align-items: baseline;
    min-height: 70vh;
}
.woa-btn-header{
    font-size: 1.2rem;
}
.woa-btn span img{
    margin-left: 10px;
    margin-right: 10px !important;
}
.claim-btn{
    appearance: none;
    color: white;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    background: rgb(210, 64, 52);
    overflow: hidden;
    transition: all 0.3s ease 0s;
    outline: none;
}
.claim-btn:hover{
    
    background: rgb(210, 64, 52,0.6);
}
.my-woas-header-small{
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 100;
    padding-bottom: 20px;
    border-bottom: 1px solid  rgba(255,255,255,0.6) ;
}
.purchased-woa{
    width: 100%;
    border-radius: 20px;

}
.modal-name-code{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.body-modal{
    width: 70%;
    transform: translate(20%,0%);
    user-select: none !important;

}

@media only screen and (max-width:576px) {
    .woas-img{
        max-width: 100%;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

        
    }
}