
.footer-container{
    background-color: rgb(27, 26, 26);
    padding-top: 80px;
    color: white;

}

.footer-row{
    
    align-items: center;
    --tw-border-opacity: 1;
    color:1px solid rgba(156,163,175,var(--tw-border-opacity));
}